.testimoneyContainer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    display: flex;
    align-items: center;
}

.testimoneyContainer1 {
    width: 100%;
    box-sizing: border-box;
    max-width: 1024px;
}

.testimoneyContainerT1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    color: #667085;
    text-transform: uppercase;
}

.testimoneyContainerT2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    /* Grey/Night */
    color: #1D2939;
}

.buttonActive {
    background-color: #F1F3F5;
    border-radius: 50px;
}

.buttonNotActive {
    background-color: #F9FAFB;
    border-radius: 50px;
}

.testimoneyContainerWebContainer1 {
    display: flex;
    flex-direction: row;

    overflow: scroll;
    gap: 32px;
    scroll-behavior: smooth;
    padding-left: 16px;

}