.buttonPrimaryLarge {
    padding-top: 9px;
    padding-bottom: 9px;
    color: #FFFFFF;

    border-width: 1px;
    border-radius: 100px;
    border-color: #1434CB;
    background-color: #1434CB;
    font-family: Inter;
    font-weight: 700;
    line-height: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}


.buttonOutlineLarge {
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid #1434CB;
    border-radius: 100px;
    color: #1434CB;
    font-family: Inter;
    font-weight: 700;
    line-height: 24px;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.buttonOutlineTransparentLarge {
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid #1434CB;
    border-radius: 100px;
    color: #1434CB;
    font-family: Inter;
    font-weight: 700;
    line-height: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.buttonDisabled {
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid #E4E7EC;
    border-radius: 100px;
    background-color: #F9FAFB;
    color: #667085;
    font-family: Inter;
    font-weight: 700;
    line-height: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
