.topSection_topSectionMob__z_a1K{display:flex;flex-direction:column;align-items:center;justify-content:flex-start;width:100%;height:100%;box-sizing:border-box;padding-left:16px;padding-right:16px}.topSection_topSectionMobC1__NA5Fq{display:flex;flex-direction:column;flex:1 1;box-sizing:border-box}.topSection_topSectionMobFont1___P6Dg{font-family:Poppins;font-style:normal;font-weight:700;font-size:32px;line-height:40px;color:#1d2939}.topSection_topSectionMobFont1Web__Vw0DS{font-family:Poppins;font-style:normal;font-weight:700;font-size:48px;line-height:56px;color:#1d2939}.topSection_topSectionMobFont2__kWqrW{font-family:Poppins;font-style:normal;font-weight:700;font-size:32px;line-height:40px;color:#109648}.topSection_topSectionMobFont2Web__rjLp_{font-family:Poppins;font-style:normal;font-weight:700;font-size:48px;line-height:56px;color:#109648}.topSection_topSectionMobFont3__TQh8C{font-family:Inter;font-style:normal;font-weight:400;font-size:14px;line-height:20px;color:#667085}.topSection_topSectionMobFont3Web__AIWMN{font-family:Inter;font-style:normal;font-weight:400;font-size:20px;line-height:28px;color:#667085}.topSection_topSectionMobBtn__1LzaP{width:100%;box-sizing:border-box}.topSection_topSectionMssgContainer1__NueBF{align-items:center;gap:8px}.topSection_lendingPartnerContainer1__mTknW,.topSection_topSectionMssgContainer1__NueBF{display:flex;flex-direction:row;justify-content:center;font-family:Inter;font-style:normal;font-weight:400;font-size:14px;color:#667085}.topSection_lendingPartnerContainer1__mTknW{gap:16px}.topSection_topSectionHelpContainer1__7znRX{flex-direction:column}.topSection_topSectionHelpContainer1Web__M9XEg,.topSection_topSectionHelpContainer1__7znRX{background-color:#1434cb;width:100%;box-sizing:border-box;padding:32px 16px;display:flex;justify-content:center;align-items:center}.topSection_topSectionHelpContainer1Web__M9XEg{flex-direction:row}.topSection_topSectionHelpContainer2Web___GMS0{background-color:#1434cb;width:100%;max-width:1024px;box-sizing:border-box;display:flex;flex-direction:row;align-items:center}.topSection_topSectionHelpContainer2WebLeft__aCFVy{flex:1 1}.topSection_topSectionHelpContainerChild1__61Lmb{font-family:Poppins;font-style:normal;font-weight:600;font-size:24px;line-height:32px;text-align:center;color:#fff;padding-left:16px;padding-right:16px;box-sizing:border-box}.topSection_topSectionHelpContainerChild2__atJCW{font-family:Inter;font-style:normal;font-weight:400;font-size:16px;line-height:24px;text-align:center;color:#fff}.topSection_topSectionHelpContainerChild1Web__3MgiF{font-family:Poppins;font-style:normal;font-weight:600;font-size:24px;line-height:32px;color:#fff}.topSection_topSectionHelpContainerChild2Web__R8RfY{font-family:Inter;font-style:normal;font-weight:400;font-size:16px;line-height:24px;color:#fff}.topSection_topSectionWeb__GE_d0{display:flex;flex-direction:row;align-items:center;justify-content:flex-start;width:100%;max-width:1024px}.topSection_topSectionWebLeft__pRzrE{flex:1 1;display:flex;flex-direction:column;justify-content:flex-start;align-items:flex-start;padding-left:16px}.topSection_topSectionWebRight__2D5ua{display:flex;flex-direction:column;position:relative;top:12px}.partnerSection_partnerContainer__dQ8NS{width:100%;box-sizing:border-box;display:flex;flex-direction:column;justify-content:center}.partnerSection_partnerContainerTop1___Pc_5{font-weight:400;font-size:14px}.partnerSection_partnerContainerTop1Web__S_NS_,.partnerSection_partnerContainerTop1___Pc_5{font-family:Inter;font-style:normal;line-height:24px;color:#667085;text-align:center;text-transform:uppercase}.partnerSection_partnerContainerTop1Web__S_NS_{font-weight:500;font-size:16px}.partnerSection_partnerContainerBottom1__TS7BH{width:100%;box-sizing:border-box;display:flex;flex-direction:row;justify-content:center;gap:32px;flex-wrap:wrap}.tabComponent_tabComponent__Wq0KP,.tabComponent_tabHeader__dMc64{width:100%;box-sizing:border-box}.tabComponent_tabHeader__dMc64{display:flex;flex-direction:row;justify-content:center}.tabComponent_tabBody__pZTS0{width:100%;box-sizing:border-box}.tabComponent_tabHeader1__93MTK{flex:1 1;display:flex;flex-direction:column;max-width:192px}.tabComponent_tabHeaderT1__SBE7I{font-weight:400;font-size:16px;line-height:24px}.tabComponent_tabHeaderT1Web__Rhr_z,.tabComponent_tabHeaderT1__SBE7I{font-family:Poppins;font-style:normal;color:#667085;display:flex;flex-direction:column;align-items:center;text-align:center}.tabComponent_tabHeaderT1Web__Rhr_z{font-weight:600;font-size:24px;line-height:32px}.tabComponent_tabHeaderT1_active__jrFB9{font-weight:700;font-size:16px;line-height:24px}.tabComponent_tabHeaderT1_active_Web__XmoE9,.tabComponent_tabHeaderT1_active__jrFB9{font-family:Poppins;font-style:normal;color:#1434cb;display:flex;flex-direction:column;align-items:center;text-align:center}.tabComponent_tabHeaderT1_active_Web__XmoE9{font-weight:600;font-size:24px;line-height:32px}.tabComponent_tabDivider__ys5Ti{background-color:#e4e7ec;height:1px;width:100%;box-sizing:border-box}.tabComponent_tabDivider_active__h1DWb{background-color:#1434cb;height:1px;width:100%;box-sizing:border-box}.voltBenefit_howItWorksContainer__nnfED{width:100%;box-sizing:border-box;background-color:#f9fafb;padding-left:16px;padding-right:16px;display:flex;flex-direction:column;align-items:center}.voltBenefit_howItWorksContainerText1__RTAfb{font-weight:400;font-size:14px}.voltBenefit_howItWorksContainerText1Web__hrlLA,.voltBenefit_howItWorksContainerText1__RTAfb{font-family:Inter;font-style:normal;line-height:24px;text-align:center;text-transform:uppercase;color:#667085}.voltBenefit_howItWorksContainerText1Web__hrlLA{font-weight:500;font-size:16px}.voltBenefit_howItWorksContainerBtnContainer__emL_Y{padding-top:20px;display:flex;width:100%;flex-direction:row;justify-content:center;gap:16px}.stepperBenefit_stepperBenefitContainer__dBSUn{width:100%;box-sizing:border-box}.stepperBenefit_stepperBenefitC1Selected__uZ9w2{display:flex;flex-direction:row;background-color:#fff;padding-top:16px;padding-bottom:16px;box-shadow:0 6px 12px -6px rgba(24,39,75,.12),0 8px 24px -4px rgba(24,39,75,.08);border-radius:8px}.stepperBenefit_stepperBenefitC1__vqoRX{display:flex;flex-direction:row;background:#fff}.stepperBenefit_verticalLine__C0Qmu{width:0;background-color:#cfeada;border:1px solid #cfeada}.stepperBenefit_stepperBenefitChildC1__023_l{min-width:40px;height:40px;background:#f3faf6;border-radius:30px;display:flex;justify-content:center;align-items:center;color:#109648;font-family:Inter;font-style:normal;font-weight:600;font-size:16px;line-height:24px}.stepperBenefit_stepperBenefitChildC2__WODqh{display:flex;flex-direction:column;gap:8px}.stepperBenefit_stepperBenefitChildC2T1__jl9Cn{font-family:Poppins;font-style:normal;font-weight:600;font-size:16px;line-height:24px;color:#1d2939}.stepperBenefit_stepperBenefitChildC2T1Web__g0g97{font-family:Poppins;font-style:normal;font-weight:600;font-size:18px;line-height:26px;color:#1d2939}.stepperBenefit_stepperBenefitChildC2T2__kZf5t{font-family:Inter;font-style:normal;font-weight:400;font-size:12px;line-height:18px;color:#667085}.stepperBenefit_stepperBenefitChildC2T2Web__v4S5N{font-family:Inter;font-style:normal;font-weight:400;font-size:14px;line-height:20px;color:#667085}.HowItWorks_howItWorksContainer___2lIu{width:100%;box-sizing:border-box;display:flex;flex-direction:column;align-items:center}.HowItWorks_howItWorksContainer1__SBbTF{width:100%;box-sizing:border-box;max-width:1024px;display:flex;flex-direction:column;justify-content:center}.HowItWorks_howItWorksContainerT1__7pEVv{height:24px;color:#667085}.HowItWorks_howItWorksContainerC1__OniSU,.HowItWorks_howItWorksContainerT1__7pEVv{display:flex;justify-content:center;align-items:center}.HowItWorks_howItWorksContainerT2__wC_hO{font-family:Poppins;font-style:normal;font-weight:700;font-size:24px;line-height:32px;margin-top:0;margin-bottom:0;text-align:center;color:#1d2939}.HowItWorks_howItWorksContainer1C1__ANG8h{display:flex;flex-direction:column;justify-content:center;align-items:center}.carousal_carousal__X_VUk{overflow:hidden;max-width:323px}.carousal_inner__qS0uo{transition:transform .3s;display:flex;flex-direction:row}.carousal_carousal-item__pQLNX{display:inline-flex;align-items:center;justify-content:center;height:200px;background-color:green;color:#fff}.carousal_carousalC1__oNjE2{display:flex;flex-direction:row;justify-content:center;gap:8px}.carousal_carousalC1Indicator__1leyp{width:8px;height:8px;background-color:#e4e7ec;border-radius:100px}.carousal_carousalC1IndicatorActive__5d1BZ{width:8px;height:8px;background-color:#667085;border-radius:100px}.testimoney_testimoneyContainer__HgoVJ{width:100%;box-sizing:border-box;flex-direction:column;display:flex;align-items:center}.testimoney_testimoneyContainer1__qHILK{width:100%;box-sizing:border-box;max-width:1024px}.testimoney_testimoneyContainerT1___XI8V{font-family:Inter;font-style:normal;font-weight:400;font-size:14px;line-height:24px;color:#667085;text-transform:uppercase}.testimoney_testimoneyContainerT2__AAmgC{font-family:Poppins;font-style:normal;font-weight:700;font-size:24px;line-height:32px;color:#1d2939}.testimoney_buttonActive__9esDe{background-color:#f1f3f5;border-radius:50px}.testimoney_buttonNotActive__x_vGb{background-color:#f9fafb;border-radius:50px}.testimoney_testimoneyContainerWebContainer1__ioiW_{display:flex;flex-direction:row;overflow:scroll;gap:32px;scroll-behavior:smooth;padding-left:16px}.PartnerLandingPage_body__NJLEY{display:flex;flex-direction:column;align-items:center;width:100%}.PartnerLandingPage_hello__YpGRp{font-family:Inter,sans-serif;font-weight:200;font-size:24px}.Home_main__EtNt2{display:flex;flex-direction:column;justify-content:flex-start;align-items:center}

/*!*.description {*!*/
/*!*  display: inherit;*!*/
/*!*  justify-content: inherit;*!*/
/*!*  align-items: inherit;*!*/
/*!*  font-size: 0.85rem;*!*/
/*!*  max-width: var(--max-width);*!*/
/*!*  width: 100%;*!*/
/*!*  z-index: 2;*!*/
/*!*  font-family: var(--font-mono);*!*/
/*!*}*!*/

/*!*.description a {*!*/
/*!*  display: flex;*!*/
/*!*  justify-content: center;*!*/
/*!*  align-items: center;*!*/
/*!*  gap: 0.5rem;*!*/
/*!*}*!*/

/*!*.description p {*!*/
/*!*  position: relative;*!*/
/*!*  margin: 0;*!*/
/*!*  padding: 1rem;*!*/
/*!*  background-color: rgba(var(--callout-rgb), 0.5);*!*/
/*!*  border: 1px solid rgba(var(--callout-border-rgb), 0.3);*!*/
/*!*  border-radius: var(--border-radius);*!*/
/*!*}*!*/

/*!*.code {*!*/
/*!*  font-weight: 700;*!*/
/*!*  font-family: var(--font-mono);*!*/
/*!*}*!*/

/*!*.grid {*!*/
/*!*  display: grid;*!*/
/*!*  grid-template-columns: repeat(4, minmax(25%, auto));*!*/
/*!*  width: var(--max-width);*!*/
/*!*  max-width: 100%;*!*/
/*!*}*!*/

/*!*.card {*!*/
/*!*  padding: 1rem 1.2rem;*!*/
/*!*  border-radius: var(--border-radius);*!*/
/*!*  background: rgba(var(--card-rgb), 0);*!*/
/*!*  border: 1px solid rgba(var(--card-border-rgb), 0);*!*/
/*!*  transition: background 200ms, border 200ms;*!*/
/*!*}*!*/

/*!*.card span {*!*/
/*!*  display: inline-block;*!*/
/*!*  transition: transform 200ms;*!*/
/*!*}*!*/

/*!*.card h2 {*!*/
/*!*  font-weight: 600;*!*/
/*!*  margin-bottom: 0.7rem;*!*/
/*!*}*!*/

/*!*.card p {*!*/
/*!*  margin: 0;*!*/
/*!*  opacity: 0.6;*!*/
/*!*  font-size: 0.9rem;*!*/
/*!*  line-height: 1.5;*!*/
/*!*  max-width: 30ch;*!*/
/*!*}*!*/

/*!*.center {*!*/
/*!*  display: flex;*!*/
/*!*  justify-content: center;*!*/
/*!*  align-items: center;*!*/
/*!*  position: relative;*!*/
/*!*  padding: 4rem 0;*!*/
/*!*}*!*/

/*!*.center::before {*!*/
/*!*  background: var(--secondary-glow);*!*/
/*!*  border-radius: 50%;*!*/
/*!*  width: 480px;*!*/
/*!*  height: 360px;*!*/
/*!*  margin-left: -400px;*!*/
/*!*}*!*/

/*!*.center::after {*!*/
/*!*  background: var(--primary-glow);*!*/
/*!*  width: 240px;*!*/
/*!*  height: 180px;*!*/
/*!*  z-index: -1;*!*/
/*!*}*!*/

/*!*.center::before,*!*/
/*!*.center::after {*!*/
/*!*  content: '';*!*/
/*!*  left: 50%;*!*/
/*!*  position: absolute;*!*/
/*!*  filter: blur(45px);*!*/
/*!*  transform: translateZ(0);*!*/
/*!*}*!*/

/*!*.logo,*!*/
/*!*.thirteen {*!*/
/*!*  position: relative;*!*/
/*!*}*!*/

/*!*.thirteen {*!*/
/*!*  display: flex;*!*/
/*!*  justify-content: center;*!*/
/*!*  align-items: center;*!*/
/*!*  width: 75px;*!*/
/*!*  height: 75px;*!*/
/*!*  padding: 25px 10px;*!*/
/*!*  margin-left: 16px;*!*/
/*!*  transform: translateZ(0);*!*/
/*!*  border-radius: var(--border-radius);*!*/
/*!*  overflow: hidden;*!*/
/*!*  box-shadow: 0px 2px 8px -1px #0000001a;*!*/
/*!*}*!*/

/*!*.thirteen::before,*!*/
/*!*.thirteen::after {*!*/
/*!*  content: '';*!*/
/*!*  position: absolute;*!*/
/*!*  z-index: -1;*!*/
/*!*}*!*/

/*!*!* Conic Gradient Animation *!*!*/
/*!*.thirteen::before {*!*/
/*!*  animation: 6s rotate linear infinite;*!*/
/*!*  width: 200%;*!*/
/*!*  height: 200%;*!*/
/*!*  background: var(--tile-border);*!*/
/*!*}*!*/

/*!*!* Inner Square *!*!*/
/*!*.thirteen::after {*!*/
/*!*  inset: 0;*!*/
/*!*  padding: 1px;*!*/
/*!*  border-radius: var(--border-radius);*!*/
/*!*  background: linear-gradient(*!*/
/*!*    to bottom right,*!*/
/*!*    rgba(var(--tile-start-rgb), 1),*!*/
/*!*    rgba(var(--tile-end-rgb), 1)*!*/
/*!*  );*!*/
/*!*  background-clip: content-box;*!*/
/*!*}*!*/

/*!*!* Enable hover only on non-touch devices *!*!*/
/*!*@media (hover: hover) and (pointer: fine) {*!*/
/*!*  .card:hover {*!*/
/*!*    background: rgba(var(--card-rgb), 0.1);*!*/
/*!*    border: 1px solid rgba(var(--card-border-rgb), 0.15);*!*/
/*!*  }*!*/

/*!*  .card:hover span {*!*/
/*!*    transform: translateX(4px);*!*/
/*!*  }*!*/
/*!*}*!*/

/*!*@media (prefers-reduced-motion) {*!*/
/*!*  .thirteen::before {*!*/
/*!*    animation: none;*!*/
/*!*  }*!*/

/*!*  .card:hover span {*!*/
/*!*    transform: none;*!*/
/*!*  }*!*/
/*!*}*!*/

/*!*!* Mobile *!*!*/
/*!*@media (max-width: 700px) {*!*/
/*!*  .content {*!*/
/*!*    padding: 4rem;*!*/
/*!*  }*!*/

/*!*  .grid {*!*/
/*!*    grid-template-columns: 1fr;*!*/
/*!*    margin-bottom: 120px;*!*/
/*!*    max-width: 320px;*!*/
/*!*    text-align: center;*!*/
/*!*  }*!*/

/*!*  .card {*!*/
/*!*    padding: 1rem 2.5rem;*!*/
/*!*  }*!*/

/*!*  .card h2 {*!*/
/*!*    margin-bottom: 0.5rem;*!*/
/*!*  }*!*/

/*!*  .center {*!*/
/*!*    padding: 8rem 0 6rem;*!*/
/*!*  }*!*/

/*!*  .center::before {*!*/
/*!*    transform: none;*!*/
/*!*    height: 300px;*!*/
/*!*  }*!*/

/*!*  .description {*!*/
/*!*    font-size: 0.8rem;*!*/
/*!*  }*!*/

/*!*  .description a {*!*/
/*!*    padding: 1rem;*!*/
/*!*  }*!*/

/*!*  .description p,*!*/
/*!*  .description div {*!*/
/*!*    display: flex;*!*/
/*!*    justify-content: center;*!*/
/*!*    position: fixed;*!*/
/*!*    width: 100%;*!*/
/*!*  }*!*/

/*!*  .description p {*!*/
/*!*    align-items: center;*!*/
/*!*    inset: 0 0 auto;*!*/
/*!*    padding: 2rem 1rem 1.4rem;*!*/
/*!*    border-radius: 0;*!*/
/*!*    border: none;*!*/
/*!*    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);*!*/
/*!*    background: linear-gradient(*!*/
/*!*      to bottom,*!*/
/*!*      rgba(var(--background-start-rgb), 1),*!*/
/*!*      rgba(var(--callout-rgb), 0.5)*!*/
/*!*    );*!*/
/*!*    background-clip: padding-box;*!*/
/*!*    backdrop-filter: blur(24px);*!*/
/*!*  }*!*/

/*!*  .description div {*!*/
/*!*    align-items: flex-end;*!*/
/*!*    pointer-events: none;*!*/
/*!*    inset: auto 0 0;*!*/
/*!*    padding: 2rem;*!*/
/*!*    height: 200px;*!*/
/*!*    background: linear-gradient(*!*/
/*!*      to bottom,*!*/
/*!*      transparent 0%,*!*/
/*!*      rgb(var(--background-end-rgb)) 40%*!*/
/*!*    );*!*/
/*!*    z-index: 1;*!*/
/*!*  }*!*/
/*!*}*!*/

/*!*!* Tablet and Smaller Desktop *!*!*/
/*!*@media (min-width: 701px) and (max-width: 1120px) {*!*/
/*!*  .grid {*!*/
/*!*    grid-template-columns: repeat(2, 50%);*!*/
/*!*  }*!*/
/*!*}*!*/

/*!*@media (prefers-color-scheme: dark) {*!*/
/*!*  .vercelLogo {*!*/
/*!*    filter: invert(1);*!*/
/*!*  }*!*/

/*!*  .logo,*!*/
/*!*  .thirteen img {*!*/
/*!*    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);*!*/
/*!*  }*!*/
/*!*}*!*/

/*!*@keyframes rotate {*!*/
/*!*  from {*!*/
/*!*    transform: rotate(360deg);*!*/
/*!*  }*!*/
/*!*  to {*!*/
/*!*    transform: rotate(0deg);*!*/
/*!*  }*!*/
/*!*}*!*/
/*    !*width: 100%;*!*/
/*    !*border: 1px solid black;*!*/.Home_whatAppStickyMobileContainerHeader__SFQdO{display:inline;height:0;position:fixed;bottom:90px;right:20px;cursor:pointer}