.carousalContainer {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;



}
.carousalContainerC1 {
    max-width: 328px;
    max-height: 364px;
    display: flex;
    flex-direction: row;
    border: 1px solid red;
}
.carousalContainerC2 {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.carousalDot {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background-color: #E4E7EC;
}
.carousalDotActive {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background-color: #667085;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}