.HowItWorksCarasoulContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-top: 30px;
}

.HowItWorksCarasoulLeftButtonContainer {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.HowItWorksCarasoulSaysViewContainer {
    width: 80%;
}

.HowItWorksCarasoulRightButtonContainer {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.HowItWorksCarasoulButtonContainer {
    width: 24px;
    height: 24px;
    background-color: #F1F3F5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.HowItWorksContainerImageCard {
    width: 256px;
    height: 218px;
}

.HowItWorksContainerImageCardIconNumber-0 {
    position: relative;
    height: 0px;
    right: 110px;
    opacity: 0.25;
}
.HowItWorksContainerImageCardIconNumber-1 {
    position: relative;
    height: 0px;
    right: 102px;
    opacity: 0.25;
}
.HowItWorksContainerImageCardIconNumber-2 {
    position: relative;
    height: 0px;
    right: 102px;
    opacity: 0.25;
}
.HowItWorksContainerImageCardIconNumber-3 {
    position: relative;
    height: 0px;
    right: 100px;
    opacity: 0.25;
}

.HowItWorksContainerImageCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 218px;
    /* Primary/100 */
    background: #e9f7ec;
    border-radius: 10px;
}

.HowItWorksContainerImageCardTitle {
    width: 224px;
    height: 26px;
    /* Web/Heading/H4/Semibold */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    text-align: center;
    opacity: 1;
    /* Grey/Night */
    color: #1D2939;
    margin-top: 12px;
}

.HowItWorksContainerImageCardSubtitle {
    width: 224px;
    height: fit-content;
    /* Web/Body/B2/Regular */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    text-align: center;
    /* Grey / Charcoal */
    color: #667085;
    margin-top: 8px;
}